<ion-content class="login auth-page">
  <div class="login-content">
    <!-- Logo -->
    <div>
      <div class="logo"></div>
    </div>
    <ion-row>
    </ion-row>
    <div>
      <form #loginForm="ngForm" autocomplete="off">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item no-lines class="reg-input-block">
                <ion-icon name="person" item-start class="text-grey"></ion-icon>
                <ion-input text-center name="firstname" id="loginField" placeholder="FirstName" type="text" required
                  [(ngModel)]='Firstname' #email></ion-input>
              </ion-item>
              <ion-item no-lines class="reg-input-block">
                <ion-icon name="person" item-start class="text-grey"></ion-icon>
                <ion-input text-center name="lasttname" id="loginField" placeholder="LastName" type="text" required
                  [(ngModel)]='Lastname' #email></ion-input>
              </ion-item>
              <div class="wrapper-div">
                <div [ngClass]="isCoach ? 'selected' : 'deselected'" class="left_item item-text-block"
                  (click)='selectcoach(true)'>
                  <ion-icon name="person" item-start class="text-grey"></ion-icon>
                  <span class="palinwhite-text">
                    Coach
                  </span>
                </div>
                <div [ngClass]="!isCoach ? 'selected' : 'deselected'" class="right_item item-text-block"
                  (click)='selectcoach(false)'>
                  <ion-icon name="bicycle" item-start class="text-grey"></ion-icon>
                  <span class="palinwhite-text">
                    Player
                  </span>
                </div>
              </div>
              <ion-item no-lines class="reg-input-block">
                <ion-icon name="call" item-start class="text-grey"></ion-icon>
                <ion-input text-center name="phone" id="loginField" placeholder="Mobile Number" type="tel" required
                  [(ngModel)]='Phone' #number></ion-input>
              </ion-item>
              <ion-item no-lines class="reg-input-block">
                <ion-icon name="mail" item-start class="text-grey"></ion-icon>
                <ion-input text-center name="email" id="loginField" placeholder="play@khelojiyo.com" type="email"
                  required [(ngModel)]='Email' #email></ion-input>
              </ion-item>

              <ion-item no-lines class="reg-input-block">
                <ion-icon name="key" item-start style="font-size:22px;" class="text-grey">
                </ion-icon>
                <ion-input text-center name="password" id="passwordField" 
                 [(ngModel)]='Password' type="password"
                  placeholder="Password" required></ion-input>

              </ion-item>
              <ion-item no-lines class="reg-input-block">
                <ion-icon name="key" item-start style="font-size:22px;" class="text-grey">
                </ion-icon>
                <ion-input text-center name="password" id="passwordField" 
                [(ngModel)]='Password_2' type="password"
                  placeholder="Confirm Password" required></ion-input>

              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row style="margin-left:18px;
                       margin-right:18px;">
          <ion-col>
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            <button ion-button class="submit-btn" style="padding:22px;border-radius: 5px;" full type="submit" (click)="signup()"
              [disabled]="!loginForm.form.valid">
              REGISTER
            </button>
          </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
      
            <div style="text-align:center;margin:20px;
                        color: white;font-size:12px;
                        font-size:12px; 
                          font-style: italic;
                       text-transform: initial;
                       text-decoration: underline"
                       (click)="finish()">
              Back To Login
            </div>
               
      </form>
    </div>
  </div>
</ion-content>