<ion-header>
  <ion-title>
    Contact
  </ion-title>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      geoduck
    </ion-item>
  </ion-list>
</ion-content>
