<ion-menu [content]="content">
  <ion-header>
      <!-- <ion-toolbar class="user-profile" [class.hide]="firebaseProvider.username.length==0"> -->
   <ion-toolbar class="user-profile">
  
        <ion-grid>
            <ion-row>
              <ion-col col-4>
                  <div class="user-avatar">
                    <img src="../assets/imgs/avatar.jpeg">
                  </div>
              </ion-col>
              <ion-col padding-top col-8>
                <h2 ion-text class="no-margin bold text-white">
                 {{firebaseProvider.username}}
                </h2>
                <span ion-text color="light">Customer</span>
              </ion-col>
            </ion-row>
            <ion-row no-padding class="other-data">
              <ion-col no-padding class="column">
                <button ion-button icon-left small full color="light" menuClose disabled>
                  <ion-icon name="contact"></ion-icon>
                  Edit Profile
                </button>
              </ion-col>
              <ion-col no-padding class="column">
                <button ion-button icon-left small full color="light" menuClose (click)="logout()">
                  <ion-icon name="log-out"></ion-icon>
                  Log Out
                </button>
              </ion-col>
            </ion-row>

          </ion-grid>

        </ion-toolbar>

    <!-- <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
