<ion-header>
  <ion-navbar>
    <ion-title>ModalPage</ion-title>
    <ion-buttons end>
    <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
</ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
  </ion-row>
  <div >
    <form #modelForm="ngForm" (ngSubmit)="updatesubmit()" autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input placeholder="Title" name="title" id="titleField"
                         type="text" required [(ngModel)]="title" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Note" name="note" id="noteField"
                         type="text" required [(ngModel)]="note"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button class="submit-btn" full type="submit"
                  [disabled]="!modelForm.form.valid">Update
          </button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
